*{
    outline: 10px salmon;
}
body{
    background-color: whitesmoke;
}
h1{
    background-color: black;
    color: white;
    font-size: 30px;
    text-align: left;
    font-family: cursive;
}
h2{ 
    background-color: rebeccapurple;
    text-align: center;
    color: white;
    font-style: italic;
    font-family: sans-serif;
}
h3{
    background-color: skyblue;
    text-align: right;
    text-decoration: underline;
    color: black;
    font-family: monospace;
}